.container
  / Main hero unit for a primary marketing message or call to action
  .hero-unit
    %h1 H1 - Hello, world
    %p This is a template for a simple marketing or informational website. It includes a large callout called the hero unit and three supporting pieces of content. Use it as a starting point to create something more unique.
    %p
      %a.btn.btn-primary.btn-large Learn more &raquo;
  / Example row of columns
  .row
    .span8
      %h1 Headings 1-5
      %h2= Faker::Lorem.sentence(2)
      %h3= Faker::Lorem.sentence(2)
      %h4= Faker::Lorem.sentence(2)
      %h5= Faker::Lorem.sentence(2)
      %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
      %p
        %a.btn{:href => "#"} View details &raquo;
    .span4
      %h2 Heading
      %p= Faker::Lorem.paragraph
      %p
        %a.btn{:href => "#"} View details &raquo;
  .row
    .span1
      %h2 12
      %p= Faker::Lorem.sentence 
    .span1
      %p= Faker::Lorem.sentence 
    .span1
      %p= Faker::Lorem.sentence 
    .span1
      %p= Faker::Lorem.sentence
    .span1
      %p= Faker::Lorem.sentence 
    .span1
      %p= Faker::Lorem.sentence 
    .span1
      %p= Faker::Lorem.sentence 
    .span1
      %p= Faker::Lorem.sentence
    .span1
      %p= Faker::Lorem.sentence 
    .span1
      %p= Faker::Lorem.sentence 
    .span1
      %p= Faker::Lorem.sentence 
    .span1
      %p= Faker::Lorem.sentence


          
  .row
    .span2
      %h2 6 column
      %p= Faker::Lorem.paragraph 
    .span2
      %p= Faker::Lorem.paragraph 
    .span2
      %p= Faker::Lorem.paragraph 
    .span2
      %p= Faker::Lorem.paragraph
    .span2
      %p= Faker::Lorem.paragraph 
    .span2
      %p= Faker::Lorem.paragraph 
      
      
  .row
    .span3
      %h2 4 column
      %p= Faker::Lorem.paragraph 
    .span3
      %p= Faker::Lorem.paragraph 
    .span3
      %p= Faker::Lorem.paragraph
    .span3
      %p= Faker::Lorem.paragraph
      
  .row
    
    .span4
      %h2 3 column
      %p= Faker::Lorem.paragraph 
    .span4
      %p= Faker::Lorem.paragraph 
    .span4
      %p= Faker::Lorem.paragraph 
  .row
    
    .span6
      %h2 2 column
      %p= Faker::Lorem.paragraph 
    .span6
      %p= Faker::Lorem.paragraph 
       

  
  %hr/
  %footer
  %p &copy; Company 2012
/ /container
