%p#notice= notice

%p
  %b Accesscode:
  = @transport_canada_registration.accesscode
%p
  %b Logger partvin:
  = @transport_canada_registration.logger_partvin
%p
  %b Callresult:
  = @transport_canada_registration.callresult
%p
  %b L type:
  = @transport_canada_registration.l_type
%p
  %b Batch:
  = @transport_canada_registration.batch
%p
  %b Province:
  = @transport_canada_registration.province
%p
  %b Preflanguage:
  = @transport_canada_registration.preflanguage
%p
  %b Start date:
  = @transport_canada_registration.start_date
%p
  %b End date:
  = @transport_canada_registration.end_date
%p
  %b Firstname:
  = @transport_canada_registration.firstname
%p
  %b Lastname:
  = @transport_canada_registration.lastname
%p
  %b Phonenumber:
  = @transport_canada_registration.phonenumber
%p
  %b E mailaddress:
  = @transport_canada_registration.e_mailaddress
%p
  %b Number:
  = @transport_canada_registration.number
%p
  %b Street:
  = @transport_canada_registration.street
%p
  %b City:
  = @transport_canada_registration.city
%p
  %b Postalcode:
  = @transport_canada_registration.postalcode
%p
  %b Vehicle:
  = @transport_canada_registration.vehicle
%p
  %b Vin:
  = @transport_canada_registration.vin
%p
  %b Province:
  = @transport_canada_registration.province
%p
  %b Havevehicle:
  = @transport_canada_registration.havevehicle
%p
  %b Whynot:
  = @transport_canada_registration.whynot
%p
  %b Since day:
  = @transport_canada_registration.since_day
%p
  %b Since month:
  = @transport_canada_registration.since_month
%p
  %b Since year:
  = @transport_canada_registration.since_year
%p
  %b Name 2:
  = @transport_canada_registration.name_2
%p
  %b Gender 2:
  = @transport_canada_registration.gender_2
%p
  %b Yob 2:
  = @transport_canada_registration.yob_2
%p
  %b Name 3:
  = @transport_canada_registration.name_3
%p
  %b Gender 3:
  = @transport_canada_registration.gender_3
%p
  %b Yob 3:
  = @transport_canada_registration.yob_3
%p
  %b Name 4:
  = @transport_canada_registration.name_4
%p
  %b Gender 4:
  = @transport_canada_registration.gender_4
%p
  %b Yob 4:
  = @transport_canada_registration.yob_4
%p
  %b Name 5:
  = @transport_canada_registration.name_5
%p
  %b Gender 5:
  = @transport_canada_registration.gender_5
%p
  %b Yob 5:
  = @transport_canada_registration.yob_5
%p
  %b Name 6:
  = @transport_canada_registration.name_6
%p
  %b Gender 6:
  = @transport_canada_registration.gender_6
%p
  %b Yob 6:
  = @transport_canada_registration.yob_6
%p
  %b Age range 2:
  = @transport_canada_registration.age_range_2
%p
  %b Age range 3:
  = @transport_canada_registration.age_range_3
%p
  %b Age range 4:
  = @transport_canada_registration.age_range_4
%p
  %b Age range 5:
  = @transport_canada_registration.age_range_5
%p
  %b Age range 6:
  = @transport_canada_registration.age_range_6
%p
  %b Yearofbirthanswered:
  = @transport_canada_registration.yearofbirthanswered
%p
  %b Age:
  = @transport_canada_registration.age
%p
  %b Agerange:
  = @transport_canada_registration.agerange
%p
  %b Gender:
  = @transport_canada_registration.gender
%p
  %b Typeoffuel:
  = @transport_canada_registration.typeoffuel
%p
  %b Transmission:
  = @transport_canada_registration.transmission
%p
  %b Completedonline:
  = @transport_canada_registration.completedonline
%p
  %b Finalstatus:
  = @transport_canada_registration.finalstatus
%p
  %b Logger:
  = @transport_canada_registration.logger_id
%p
  %b Assigndate:
  = @transport_canada_registration.assigndate
%p
  %b Returndate:
  = @transport_canada_registration.returndate

= link_to 'Edit', edit_transport_canada_registration_path(@transport_canada_registration)
\|
= link_to 'Back', transport_canada_registrations_path
