= link_to "Shuttle", root_path, :class => 'brand'
%ul
  %li
    = link_to 'HOME', root_path
  %li
    = link_to 'ABOUT',       pages_about_path
  %li
    = link_to 'INCENTIVES',  pages_rewards_path
  %li
    = link_to 'FAQ',         pages_faq_path
  %li
    = link_to 'SUPPORTERS',  pages_supporters_path
  %li
    = link_to 'CONTACT',     pages_contact_path
  %li
    = link_to 'PRIVACY',     pages_privacy_path
  %li
    = link_to 'ABOUT SUMMERHILL IMPACT', pages_about_summerhill_impact_path
  %li
    = link_to 'SURVEY',      pages_survey_path
  %li
    = link_to 'INSTALL',     pages_install_path
  %li
    = link_to 'BASELINE',    pages_baseline_path
  %li
    = link_to 'TRAINING',    pages_training_path
  %li
    = link_to 'CHALLENGE',   pages_challenge_path
  %li
    = link_to 'PAYOUT',      pages_payout_path
  %li
    = link_to 'DRIVE BETTER',   pages_drive_better_path
  %li
    = link_to 'DRIVE LESS',     pages_drive_less_path
    
